*{
    background-color: rgb(185, 185, 90);
}

.navigation{
    padding-top: 1rem;
    text-align: center;
    color: rgb(255,255,255);
    font-size: 3rem;
    font-weight: bold;
}

.container{
    background-color: rgb(128, 128, 128);
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_button{
    background-color: rgb(255,255,255);
    font-size: 25px;
    font-weight: bold;
    color: rgb(193, 193, 75);
    border-radius: 5px;
    padding: 1rem 6rem;
    cursor: pointer;
}

.container2{
    background-color: rgb(75, 75, 75);
    height: 27rem;  
    display: flex; 
}

.box{
    width: 800px;
    height: 400px;
    background-color: rgb(255,255,255);
    margin: 20px;
}

img{
    height: 250px;
    width: 450px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

p2{
    background-color: rgb(255,255,255);   
}

.button{
    background-color: rgb(255,255,255);
}

.box_button{
    background-color: rgb(192, 192, 192);
    font-size: 15px;
    padding:0rem 6rem;
    margin-top: 2rem;
    margin-left: 4rem;
    cursor: pointer;
}

.box_button2{
     background-color: rgb(192, 192, 192);
    font-size: 15px;
    padding:0rem 6rem;
    margin-top: 2rem;
    margin-left: 7rem;
    cursor: pointer;
}

.copyright{
    padding-top: 1rem;
    text-align: center;
    color: rgb(255,255,255);
}